*~
.\#*
.build
/.tidyall.d
Build.PL
Build
DateTime-*
Debian_CPANTS.txt
MANIFEST
META.json
META.yml
MYMETA.json
MYMETA.yml
Makefile
Makefile.PL
Makefile.old
README
\#*\#
_build
blib*
c/leap_seconds.h
cover_db*
/*\.c
/*\.o
pm_to_blib*
t/author-pp-*
