/*\.bs
/*\.c
/*\.o
/.tidyall.d
*~
.\#*
.build
Build
Build.PL
DateTime-*
Debian_CPANTS.txt
MANIFEST
META.json
META.yml
MYMETA.json
MYMETA.yml
Makefile
Makefile.old
README
\#*\#
_build
blib*
cover_db*
pm_to_blib*
c/leap_seconds.h
t/author-pp-*
