Dave Rolsky <autarch@urth.org> autarch <devnull@localhost>
Dave Rolsky <autarch@urth.org> convert-repo <devnull@localhost>
Dave Rolsky <autarch@urth.org> unknown <devnull@localhost>
Flávio Soibelmann Glock <fglock@gmail.com> fglock <devnull@localhost> 
Ben Bennett <fiji@limey.net> fiji <devnull@localhost>
Joshua Hoblitt <jhoblitt@cpan.org> jhoblitt <devnull@localhost>
Iain Truskett <modules@perl.org> koschei <devnull@localhost>
Daisuke Maki <dmaki@cpan.org> lestrrat <devnull@localhost>
Richard Bowen <bowen@cpan.org> rbowen <devnull@localhost>
Ron Hill <rkhill@cpan.org> rkhill <devnull@localhost>
David E. Wheeler <david@justatheory.com> wheeler <devnull@localhost>
Christian Hansen <chansen@cpan.org> chansen <chansen@cpan.org>